# Ignore Gradle project-specific cache directory
**/bin/
.gradle/

# Ignore Gradle build output directory
build/

# Ignore Gradle build caches and metadata
.kotlin/

# Ignore .vscode but allow .vscode/extensions.json
.vscode/

# IntelliJ IDEA project files
*.iml
.idea/
out/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Test reports
test-results/
